body {
  background-color: #0D1117;
  color: white;
}

.container{
    text-align: center;
    
}

.board {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #002050;
  /* color: #002050; */
  /* background-color: #0D1117; */
}

.cell {
  width: 132px;
  height: 132px;
}